html, body, h2 {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  font-size: inherit;
  font-style: inherit;
}

body {
  text-align: center;
}

#dino {
  position: absolute;
  width: 100px;
  height: 100px;
  background: blue;
  bottom: 0;
  transition: bottom 0.5s, height 0s;
  /*transition-timing-function: linear;*/
}

.obstacle {
  position: absolute;
  bottom: 0;
  /*right: 0;*/
  left: 1000px;
  background: red;
  transition: left 5s;
}

.obstacle-active {
  left: 0;
}

.obstacle:hover {
  left: 0;
}

.jump {
  bottom: 30px;
}

.high-jump {
  bottom: 50px;
}


#game-field {
  position: relative;
  border: 1px solid black;
  width: 1000px;
  height: 400px;
  margin: 25px auto;
  padding: 10px;

  /*padding-top: 50px;
  padding-bottom: 10px;*/
}

.score-window {
  position: absolute;
  right: 10px;
}

.score-window p {
  display: inline;
}
