html, body, h2 {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  font-size: inherit;
  font-style: inherit;
}

body {
  text-align: center;
  background: #7FB73A;
}

h2 {
  font-size: 24px;
}

#dino {
  position: absolute;
  width: 100px;
  height: 100px;
  background: blue;
  bottom: 0;
  left: 225px;
  transition: bottom 0.5s, height 0s;
}

.obstacle {
  position: absolute;
  bottom: 0;
  left: 1000px;
  background: red;
  transition: left 5s;
  transition-timing-function: linear;
}

.jump {
  bottom: 30px;
}

.high-jump {
  bottom: 50px;
}


#game-field {
  position: relative;
  color: #fff;
  border: 1px solid #4CAF50;
  width: 1000px;
  height: 400px;
  margin: 25px auto;
  padding: 10px;
  background-image: url('./../images/background.jpg');
}

.score-window {
  position: absolute;
  right: 10px;
}

.score-window p {
  display: inline;
}
